<div class="message_display">
			<%= render(:partial => "/hub/invite_nav") %>
			<div class="message_display_actions">
				<ul>
					<li>
						INVITE and APPLICATION ACTIONS HERE
					</li>
				</ul>
			</div>
			<div class="message_head">
				INVITE HEAD HERE
  			</div>
			<div class="message_body">
				INVITE BODY HERE
			</div>
		</div>