
				<li class="inbox_item">
					<div class="profile_img">
						LOGO HERE
					</div>
    				<span class="sender">
    					<strong>
         	      			TEAM LEADER HERE
         	  			</strong>
					</span>
  					<p class="subject">
        	  			INVITE OR APPLICATION
   					</p>
 					<div class="date">
   						DATE SENT OR RECIEVED
					</div>
					<div class="actions">
						<ul>
							ACTIONS HERE
						</ul>
						
					</div>
					<div class="clearAll">
					</div>
				</li>
		