<div class="account-container">	
<div class="account_edit_leftcol">
<div class="profile_edit_basic">
	
	<h1>Profile Photo:</h1>

<% form_for(@profile) do |f| %>
 <%= f.error_messages %>
 
	<div class="edit_avatar">
			<div class="edit_avatar_picture">
				<%= image_tag @profile.avatar.url(:medium) %> 
				Current Profile Photo
			</div>
	 <% end %>		
  
</div> <div style="margin:10px 0px 20px 250px;">
	 <% form_for (:profile, :url => '/project/update_avatar?id='+@profile.id.to_s, :html => { :multipart => true }) do |f| %>  
						<p style="float:left; margin-top:20px;">
      					<label for="logo" style="width:200px;">Upload Profile Photo:</label>
      					<%= f.file_field :avatar %>
						</p>
						
    <p><div style="width:200px;">
       <%= f.submit 'Save Photo' %> or <a href="/myaccount" style="color:#990000;">[cancel]</a>
    </p>
  <% end %></div></div>
<div class="clearfix"></div>
</div>
</div>




