
<div class="account-container">	
<div class="account_thinmenu_subnav">
<ul id="account_subnav">
	<li class="start"><%= noproject %></li>
	<li class="faq"><a href="/faq_inside">blah blah</a></li>

</ul>
</div>
<div class="account_main">
	<div class="account_main_head">
		<h2>Account: Profile</h2>
		<h3>&nbsp</h3>
		<ul id="account_nav">
			<li class="profile"><a href ="/myaccount">blah blah</a></li>
			<li class="experience"><a href="">blah blah blah</a></li>
			<li class="details"><a href="">blah blah blah</a></li> 
			<li class="preferences"><a href="">blah blah blah</a></li> 
		</ul>
	</div>
	</div>					

		<%= render(:partial => "profile") %>	
	    <div class="account_rightcol">
					<div class="account_history"><h3>Project History</h3>Project History Here</div>
				</div>


