				
				<div class="myaccount_profile">
					<div class="myaccount_profile_picture">
						<img src="/images/myaccount_profile_image.png" alt="profile image" width="210px" height="210px"></div>
					<div class="myaccount_ataglance" style="color:#000000;"></div>
					<div class="myaccount_username"><%= public_display_name %></div>
					<div class="myaccount_badges">
						<p>Badges:</p>
						<%= image_tag(@current_profile.team_leader_badge) %>
					</div>
					<div class="myaccount_summary"><h2>Summary</h2></div>
					<!--Description and Summary List of Experience--!>

				
