<body id="profile">

		
	<%=render(:partial => "layouts/insidemenu") %>


   

   
   
	<%=render(:partial => "edit_avatar") %>

   	<%=render(:partial => "layouts/insidefooter") %>


	</body>
	
	</html>