<body id="myaccount">

		

<div class="sitecontainer">

   

   	<%=render(:partial => "layouts/insidemenu") %>
   
	<%=render(:partial => "myaccountcenter") %>

   	<%=render(:partial => "layouts/insidefooter") %>

	</div>

	</body>
	
	</html>