<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<title><%#= title %></title>

<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta name="keywords" http-equiv="keywords" content="micro vc, venture capital, vc, micro venture capital, start-up, seed funding, angel, angel investment, angel funding" />

<meta http-equiv="Content-Language" content="en-US"/>

<link rel="SHORTCUT ICON" href="images/favicon.ico" />
<script type="text/javascript" src="/javascripts/slidedeck.jquery.lite.pack.js"></script>

<link rel="stylesheet" href="/stylesheets/slidedeck.skin.css" type="text/css" media="screen"/>
</head>