body {
	background-color: #978f75;
	margin:0px;
	padding:0px;
}
.p {
	margin:0px;
	padding:0px;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	text-align: inherit;
	color: inherit;
	line-height: inherit;
	vertical-align: top;
}
p {
	padding-top:0px;
	margin-top:0px;
}
img {
	border:0px;
}
div {
	margin:0px;
	padding:0px;
	font-family:verdana; font-size:12px;
}
.AbsWrap {
	width: 100%;
	position: relative;
}
.rowWrap {
	width: 100%;
}
.clearfloat {
	clear:both;
	height:0px;
}
a:link, a:visited{
	COLOR:inherit;
	text-decoration:inherit;
}
#Div {
	background-color: #6f6953;
	width:55px;
	padding-top:0px;
	height:17px;
	position: absolute;
	left:797px;
	top:37px;
	margin-bottom:0px;

}
#Div2 {
	background-color: #6f6953;
	width:55px;
	padding-top:0px;
	height:17px;
	position: absolute;
	left:733px;
	top:37px;
	margin-bottom:0px;

}
#Div3 {
	background-color: #6f6953;
	width:55px;
	padding-top:0px;
	height:17px;
	position: absolute;
	left:275px;
	top:38px;
	margin-bottom:0px;

}
.Txt_Logout {
	position: absolute;
	left:797px;
	top:39px;
	width:55px;
	margin-bottom:0px;
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: 800;
	text-align: center;
	color: #a49d84;
	line-height: 120%;
	padding-top:1px;
	padding-bottom:2px;

}
.Txt_Help {
	position: absolute;
	left:733px;
	top:40px;
	width:55px;
	margin-bottom:0px;
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: 800;
	text-align: center;
	color: #a49d84;
	line-height: 120%;
	padding-top:1px;
	padding-bottom:2px;

}
.Txt_Tools {
	position: absolute;
	left:275px;
	top:42px;
	width:55px;
	margin-bottom:0px;
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: 800;
	text-align: center;
	color: #a49d84;
	line-height: 120%;
	padding-top:1px;
	padding-bottom:2px;

}
#Box3SliceContainer {
	position: absolute;
	left:20px;
	top:66px;
	width:988px;
	margin-bottom:0px;
	background-image: url(images/inside_topnav_profile_r11_c2.gif);
	background-repeat: repeat;

}
#boxtop1 {
	margin-left:0px;
	margin-top:0px;
	width:989px;
	height:15px;
	margin-bottom:0px;
	float:left;
	display:inline;
	background-image: url(images/inside_topnav_profile_r4_c2.gif);
	overflow:hidden;

}
#boxbottom2 {
	margin-left:0px;
	margin-top:758px;
	width:989px;
	height:21px;
	margin-bottom:0px;
	float:left;
	display:inline;
	background-image: url(images/inside_topnav_profile_r13_c2.png);
	overflow:hidden;

}
#Div4 {
	background-color: #a49d84;
	width:247px;
	padding-top:0px;
	height:38px;
	position: absolute;
	left:733px;
	top:81px;
	margin-bottom:0px;

}
#Div5 {
	background-color: #162540;
	width:85px;
	padding-top:0px;
	height:29px;
	position: absolute;
	left:144px;
	top:90px;
	margin-bottom:0px;

}
#Div6 {
	background-color: #ffffff;
	width:85px;
	padding-top:0px;
	height:29px;
	position: absolute;
	left:53px;
	top:90px;
	margin-bottom:0px;

}
#Div7 {
	background-color: #162540;
	width:85px;
	padding-top:0px;
	height:29px;
	position: absolute;
	left:235px;
	top:90px;
	margin-bottom:0px;

}
.Txt_Research {
	position: absolute;
	left:745px;
	top:95px;
	width:166px;
	margin-bottom:0px;
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: 800;
	text-align: left;
	color: #000000;
	line-height: 120%;
	padding-top:1px;
	padding-bottom:2px;

}
.Txt_myProject {
	position: absolute;
	left:236px;
	top:95px;
	width:82px;
	margin-bottom:0px;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: 800;
	text-align: center;
	color: #ffffff;
	line-height: 120%;
	padding-top:1px;
	padding-bottom:2px;

}
.Txt_Hub {
	position: absolute;
	left:54px;
	top:96px;
	width:82px;
	margin-bottom:0px;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: 800;
	text-align: center;
	color: #162540;
	line-height: 120%;
	padding-top:1px;
	padding-bottom:2px;

}
.Txt_Projects {
	position: absolute;
	left:146px;
	top:96px;
	width:82px;
	margin-bottom:0px;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: 800;
	text-align: center;
	color: #ffffff;
	line-height: 120%;
	padding-top:1px;
	padding-bottom:2px;

}
#Div8 {
	background-color: #ffffff;
	width:85px;
	padding-top:0px;
	height:17px;
	position: absolute;
	left:53px;
	top:102px;
	margin-bottom:0px;

}
#Div9 {
	background-color: #162540;
	width:85px;
	padding-top:0px;
	height:17px;
	position: absolute;
	left:144px;
	top:102px;
	margin-bottom:0px;

}
#Div10 {
	background-color: #162540;
	width:85px;
	padding-top:0px;
	height:17px;
	position: absolute;
	left:235px;
	top:102px;
	margin-bottom:0px;

}
#Div11 {
	background-color: #a49d84;
	width:247px;
	padding-top:0px;
	height:15px;
	position: absolute;
	left:733px;
	top:103px;
	margin-bottom:0px;

}
#Div12 {
	background-color: #162540;
	width:262px;
	padding-top:0px;
	height:18px;
	position: absolute;
	left:144px;
	top:120px;
	margin-bottom:0px;

}
#Div13 {
	background-color: #ffffff;
	width:989px;
	padding-top:0px;
	height:532px;
	position: absolute;
	left:20px;
	top:120px;
	margin-bottom:0px;

}
.Txt_submenu {
	position: absolute;
	left:167px;
	top:122px;
	width:53px;
	margin-bottom:0px;
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: 800;
	text-align: left;
	color: #ffffff;
	line-height: 120%;
	padding-top:1px;
	padding-bottom:2px;

}
.Txt_submenu2 {
	position: absolute;
	left:250px;
	top:122px;
	width:53px;
	margin-bottom:0px;
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: 800;
	text-align: left;
	color: #ffffff;
	line-height: 120%;
	padding-top:1px;
	padding-bottom:2px;

}
.Txt_submenu3 {
	position: absolute;
	left:343px;
	top:122px;
	width:53px;
	margin-bottom:0px;
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: 800;
	text-align: left;
	color: #ffffff;
	line-height: 120%;
	padding-top:1px;
	padding-bottom:2px;

}
#Div14 {
	background-color: #eaf2ff;
	width:264px;
	padding-top:0px;
	height:220px;
	position: absolute;
	left:52px;
	top:154px;
	margin-bottom:0px;

}
.Txt_preferences {
	position: absolute;
	left:221px;
	top:157px;
	width:79px;
	margin-bottom:0px;
	font-size:6px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: 800;
	text-align: right;
	color: #0000ff;
	line-height: 120%;
	padding-top:1px;
	padding-bottom:2px;

}
.Txt_Communications {
	position: absolute;
	left:59px;
	top:165px;
	width:210px;
	margin-bottom:0px;
	font-size:18px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: 800;
	text-align: left;
	color: #15253f;
	line-height: 120%;
	padding-top:1px;
	padding-bottom:2px;

}
#Div15 {
	background-color: #5795ff;
	width:38px;
	padding-top:0px;
	height:11px;
	position: absolute;
	left:259px;
	top:172px;
	margin-bottom:0px;

}
#Div16 {
	background-color: #5795ff;
	width:38px;
	padding-top:0px;
	height:11px;
	position: absolute;
	left:218px;
	top:172px;
	margin-bottom:0px;

}
.Txt_Filter {
	position: absolute;
	left:259px;
	top:174px;
	width:37px;
	margin-bottom:0px;
	font-size:8px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: 800;
	text-align: center;
	color: #ffffff;
	line-height: 120%;
	padding-top:1px;
	padding-bottom:2px;

}
.Txt_Sort {
	position: absolute;
	left:219px;
	top:174px;
	width:37px;
	margin-bottom:0px;
	font-size:8px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: 800;
	text-align: center;
	color: #ffffff;
	line-height: 120%;
	padding-top:1px;
	padding-bottom:2px;

}
#Div17 {
	background-color: #5795ff;
	width:38px;
	padding-top:3px;
	height:6px;
	position: absolute;
	left:259px;
	top:177px;
	margin-bottom:0px;

}
#Div18 {
	background-color: #5795ff;
	width:38px;
	padding-top:3px;
	height:6px;
	position: absolute;
	left:218px;
	top:177px;
	margin-bottom:0px;

}
#Line {
	border-bottom: 1px solid #5795ff;
	width:261px;
	position: absolute;
	left:52px;
	top:184px;
	margin-bottom:0px;

}
#Div19 {
	background-color: #eaf2ff;
	width:264px;
	padding-top:0px;
	height:220px;
	position: absolute;
	left:329px;
	top:394px;
	margin-bottom:0px;

}
#Div20 {
	background-color: #eaf2ff;
	width:373px;
	padding-top:0px;
	height:219px;
	position: absolute;
	left:606px;
	top:395px;
	margin-bottom:0px;

}
.Txt_preferences2 {
	position: absolute;
	left:494px;
	top:397px;
	width:79px;
	margin-bottom:0px;
	font-size:6px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: 800;
	text-align: right;
	color: #0000ff;
	line-height: 120%;
	padding-top:1px;
	padding-bottom:2px;

}
.Txt_News {
	position: absolute;
	left:620px;
	top:406px;
	width:210px;
	margin-bottom:0px;
	font-size:18px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: 800;
	text-align: left;
	color: #14253f;
	line-height: 120%;
	padding-top:1px;
	padding-bottom:2px;

}
.Txt_Research2 {
	position: absolute;
	left:337px;
	top:407px;
	width:210px;
	margin-bottom:0px;
	font-size:18px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: 800;
	text-align: left;
	color: #14253f;
	line-height: 120%;
	padding-top:1px;
	padding-bottom:2px;

}
#Div21 {
	background-color: #5795ff;
	width:38px;
	padding-top:0px;
	height:11px;
	position: absolute;
	left:889px;
	top:412px;
	margin-bottom:0px;

}
.Txt_Sort2 {
	position: absolute;
	left:908px;
	top:412px;
	width:37px;
	margin-bottom:0px;
	font-size:8px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: 800;
	text-align: center;
	color: #ffffff;
	line-height: 120%;
	padding-top:1px;
	padding-bottom:2px;

}
#Div22 {
	background-color: #5795ff;
	width:38px;
	padding-top:0px;
	height:11px;
	position: absolute;
	left:495px;
	top:412px;
	margin-bottom:0px;

}
#Div23 {
	background-color: #5795ff;
	width:38px;
	padding-top:0px;
	height:11px;
	position: absolute;
	left:931px;
	top:412px;
	margin-bottom:0px;

}
#Div24 {
	background-color: #5795ff;
	width:38px;
	padding-top:0px;
	height:11px;
	position: absolute;
	left:537px;
	top:412px;
	margin-bottom:0px;

}
.Txt_Filter2 {
	position: absolute;
	left:496px;
	top:413px;
	width:37px;
	margin-bottom:0px;
	font-size:8px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: 800;
	text-align: center;
	color: #ffffff;
	line-height: 120%;
	padding-top:1px;
	padding-bottom:2px;

}
.Txt_Add {
	position: absolute;
	left:932px;
	top:413px;
	width:37px;
	margin-bottom:0px;
	font-size:8px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: 800;
	text-align: center;
	color: #ffffff;
	line-height: 120%;
	padding-top:1px;
	padding-bottom:2px;

}
.Txt_Usage {
	position: absolute;
	left:538px;
	top:413px;
	width:37px;
	margin-bottom:0px;
	font-size:8px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: 800;
	text-align: center;
	color: #ffffff;
	line-height: 120%;
	padding-top:1px;
	padding-bottom:2px;

}
#Div25 {
	background-color: #5795ff;
	width:38px;
	padding-top:0px;
	height:11px;
	position: absolute;
	left:847px;
	top:413px;
	margin-bottom:0px;

}
#Div26 {
	background-color: #5795ff;
	width:38px;
	padding-top:0px;
	height:11px;
	position: absolute;
	left:452px;
	top:413px;
	margin-bottom:0px;

}
.Txt_Filter3 {
	position: absolute;
	left:847px;
	top:414px;
	width:37px;
	margin-bottom:0px;
	font-size:8px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: 800;
	text-align: center;
	color: #ffffff;
	line-height: 120%;
	padding-top:1px;
	padding-bottom:2px;

}
.Txt_Sort3 {
	position: absolute;
	left:453px;
	top:414px;
	width:37px;
	margin-bottom:0px;
	font-size:8px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: 800;
	text-align: center;
	color: #ffffff;
	line-height: 120%;
	padding-top:1px;
	padding-bottom:2px;

}
#Div27 {
	background-color: #5795ff;
	width:38px;
	padding-top:3px;
	height:6px;
	position: absolute;
	left:889px;
	top:417px;
	margin-bottom:0px;

}
#Div28 {
	background-color: #5795ff;
	width:38px;
	padding-top:3px;
	height:6px;
	position: absolute;
	left:495px;
	top:417px;
	margin-bottom:0px;

}
#Div29 {
	background-color: #5795ff;
	width:38px;
	padding-top:3px;
	height:6px;
	position: absolute;
	left:537px;
	top:417px;
	margin-bottom:0px;

}
#Div30 {
	background-color: #5795ff;
	width:38px;
	padding-top:3px;
	height:6px;
	position: absolute;
	left:931px;
	top:417px;
	margin-bottom:0px;

}
#Div31 {
	background-color: #5795ff;
	width:38px;
	padding-top:3px;
	height:6px;
	position: absolute;
	left:847px;
	top:418px;
	margin-bottom:0px;

}
#Div32 {
	background-color: #5795ff;
	width:38px;
	padding-top:3px;
	height:6px;
	position: absolute;
	left:452px;
	top:418px;
	margin-bottom:0px;

}
#Line2 {
	border-bottom: 1px solid #5795ff;
	width:371px;
	position: absolute;
	left:605px;
	top:425px;
	margin-bottom:0px;

}
#Line3 {
	border-bottom: 1px solid #5795ff;
	width:261px;
	position: absolute;
	left:330px;
	top:425px;
	margin-bottom:0px;

}
#inside_topnav_profile_r1_c2 {
	position: absolute;
	left:33px;
	top:9px;
	width:96px;
	height:46px;
	margin-bottom:0px;

}
#inside_topnav_profile_r2_c6 {
	position: absolute;
	left:146px;
	top:38px;
	width:55px;
	height:18px;
	margin-bottom:0px;

}
#inside_topnav_profile_r2_c8 {
	position: absolute;
	left:210px;
	top:38px;
	width:55px;
	height:18px;
	margin-bottom:0px;

}
#inside_topnav_profile_r7_c11 {
	position: absolute;
	left:328px;
	top:153px;
	width:264px;
	height:222px;
	margin-bottom:0px;
	background-image: url(images/inside_topnav_profile_r7_c11.gif);
	overflow:hidden;

}
#inside_topnav_profile_r7_c13 {
	position: absolute;
	left:605px;
	top:153px;
	width:374px;
	height:222px;
	margin-bottom:0px;
	background-image: url(images/inside_topnav_profile_r7_c13.gif);
	overflow:hidden;

}
#inside_topnav_profile_r9_c4 {
	position: absolute;
	left:52px;
	top:395px;
	width:265px;
	height:220px;
	margin-bottom:0px;
	background-image: url(images/inside_topnav_profile_r9_c4.gif);
	overflow:hidden;

}
