	<div class="footer-section">
		<div class="footer-content">
			<div class="footer-box"><h3>Navigate</h3>

				<ul class="content">
					
						<li><a href="/">Home</a></li>
													
						<li><a href="/home_forentrep">3Strides Process: Entrepreneurs</a></li>
						
						<li><a href="/home_forinvestors">3Strides Process: Investors</a></li>
						
						<li><a href="/public_projects">Browse Projects</a></li>
					
						<li><a href="/blog">Blog: Latest Insights</a></li>
						<li><a href="/library">Links: Useful Reads</a></li>
						<li><a href="/signup">Join 3Strides Now!</a></li>
					
				</ul>
			</div>
			<div class="footer-box"><h3>Administrate</h3>
				<ul class="content">
					<li><a href="/guidelines">Community Guidelines</a></li>
					<li><a href="/terms">Terms of Use</a></li>
					<li><a href="/privacy">Privacy Policy</a></li>
					<li><a href="/FAQ">Frequently Asked Questions</a></li>

					<li><a href="/contact">Contact Us</a></li>
					<li><a href="http://3strides.uservoice.com/forums/51741-general?lang=en&utm_campaign=Widgets&utm_content=tab-widget&utm_medium=widget&utm_source=3strides.uservoice.com" target="_blank">Feedback via User Voice</a></li>
				</ul>
			</div>
			<div class="footer-box"><h3>NEWS FEED OR SOMETHING ELSE HERE</h3>

				<ol class="content">
					<li><a href="online-workspaces">Online workspaces</a></li>
					<li><a href="document-management">Document management</a></li>
					<li><a href="online-document-sharing">Online document sharing</a></li>
					<li><a href="crm">CRM</a></li>
					<!-- <li><a href="blog">Blog</a></li> -->
					<li><a href="bt-workspace-alternative">BT Workspace Alternative</a></li>

					<!-- <li><a href="http://signup.glasscubes.com/free">Get your free account</a></li>-->
					<li> <a href="extranet">Extranet</a></li>
					<li> <a href="online-project-management">Online project management</a></li>

				</ol>
			</div>
			<div class="footer-box"><h3>Useful Sites</h3>

				<ol class="content">
					<li> <a href="http://www.cnet.com/">CNET</a></li>

				</ol>
			</div>
			
		</div>
		<div class="footer-copyright">
			&copy; Copyright 2010 3Strides, LLC
			</div>
	</div>
<script type="text/javascript">
var uservoiceOptions = {
  /* required */
  key: '3strides',
  host: '3strides.uservoice.com', 
  forum: '51741',
  showTab: true,  
  /* optional */
  alignment: 'right',
  background_color:'#f00', 
  text_color: 'white',
  hover_color: '#06C',
  lang: 'en'
};

function _loadUserVoice() {
  var s = document.createElement('script');
  s.setAttribute('type', 'text/javascript');
  s.setAttribute('src', ("https:" == document.location.protocol ? "https://" : "http://") + "cdn.uservoice.com/javascripts/widgets/tab.js");
  document.getElementsByTagName('head')[0].appendChild(s);
}
_loadSuper = window.onload;
window.onload = (typeof window.onload != 'function') ? _loadUserVoice : function() { _loadSuper(); _loadUserVoice(); };
</script>