<div class="content-container">

<div class="content-section_entrepreneurs"> 
<h2>3Strides for Entrepreneurs</h2>
<p>3Strides is a new concept in start-up development, seed-funding and early investment.  We provide entreprenuers and start-up companies with a platform to get over the earliest hurdles associated with company start-up: get help and mentorship developing your idea and team, get funding to pay for initial expenses, and provide a framework of support to test the validity of your business.  </p>
<p><p/>Our aim is for ventures that graduate through our process to be at the point where they have built something significant enough enough to raise money on a larger scale. Then we provide graduates from our process a path to further investment - either through a fundraising-process proprietary to 3Strides that leverages relationships you build during the development of your idea, or by making introductions to later-stage investors or acquirers.  
</p>
<h2>A Technology-Enabled Process</h2>
<p>Similar to other "micro-VCs" our process provides funding (generally less than $20,000) in return for small stakes in the companies that are succesful in completing the initial funding stage.  That stake is a non-negotiated 7%.  Similarly, our process provides a combination of money and help where the money is by far the smaller component.</p>  <p>Where our process diverges from "traditional" venture investing is the process by which projects are selected for inclusion and funding.</p> 

<h2>What happens at 3Strides?</h2> 

The most important thing we do is work with startups on their ideas. We're hackers ourselves, and we've spent a lot of time figuring out how to make things people want. So we can usually see fairly quickly the direction in which a small idea should be expanded, or the point at which to begin attacking a large but vague one.

The questions at this stage range from apparently minor (what to call the company) to frighteningly ambitious (the long-term plan for world domination). Over the course of three months we usually manage to help founders come up with initial answers to all of them.

Though we fund all types of computer startups, we're especially interested in web-based applications. We've been thinking about that problem longer than anyone else, and by now can visualize much of the space of possibilities.

The second most important thing we do is help founders deal with investors and acquirers. Yes, we make introductions, but that part is easy. We spend much more time teaching founders how to pitch their startups, and how to close a deal once they've generated interest. In the second phase we supply not just advice but protection; people are more likely to treat you well if you come from YC, because how they treat you determines whether in the future we'll steer deals toward or away from them.

We also get the startups we fund incorporated properly with all the right paperwork, avoiding legal time-bombs that could kill them later. We introduce founders to lawyers who will often, because of the YC connection, agree to defer payment for legal work. We regularly help startups find and hire their first employees. We advise about what to patent, and when. One of the least publicized things we do, for obvious reasons, is mediate disputes between founders. No startup thinks they're going to need that, but most do at some point.

The kind of advice we give literally can't be bought, because anyone qualified to give it is already rich. You can only get it from investors.

Format

Y Combinator has a novel approach to seed funding: we fund startups in batches. There are two each year, one from January through March and one from June through August. During each cycle we fund multiple startups. We've funded a total of 118 so far.

Applying for funding is also different at Y Combinator. Instead of submitting a business plan or making a slide presentation, you just fill out an application form. We invite the most promising groups to meet us in person, and we make funding decisions immediately afterward.

Most of the founders in each startup we fund are expected to move to the Bay Area for the duration of the three month cycle. During those three months we host a dinner once a week at Y Combinator, and at each dinner we invite an expert in some aspect of startups to speak. Typically speakers include startup founders, venture capitalists, lawyers, accountants, journalists, investment bankers, and executives from big technology companies. Speakers often end up advising or investing in startups they meet at the dinners.

About ten weeks in, we host an investor day where all the startups can present to potential investors. Ten weeks turns out to be enough for most groups to create a convincing prototype. In fact, many launch in less than ten weeks.

Y Combinator is occasionally described as a boot camp, but this is not really accurate. We probably get called that because we fund a lot of startups at once, and most have to move to participate. But the similarities end there; the atmosphere is the opposite of regimented.

Funding startups in batches works better for everyone than the usual approach. It's more efficient for us, but also better for the startups, who probably end up helping one another at least as much as we help them.

Because we fund such large numbers of startups, Y Combinator has a huge "alumni" network, and there's a strong ethos of helping out fellow YC founders. So whatever your problem, whether you need beta testers, a place to stay in another city, advice about a browser bug, or a connection to a particular company, there's a good chance someone in the network can help you.

Philosophy

We think hackers are most productive when they can spend most of their time hacking. Our goal is to create an environment where you can focus exclusively on getting an initial version built. In any startup, the first couple months tend to be the most productive of all. Those first months define the company. So anything you can do to maximize their effects is probably a good idea.

We seem to have succeeded in creating a good environment, because many founders have told us that the first ten weeks of Y Combinator were the most productive period of their lives.

We try to interfere as little as possible in the startups we fund. We don't want board seats, rights to participate in future rounds, vetoes over strategic decisions, or any of the other powers investors sometimes require. We offer lots of advice, but we can't force anyone to take it. We realize that independence is one of the reasons people want to start startups in the first place. And frankly, it's also one of the reasons startups succeed. Investors who try to control the companies they fund often end up destroying them.

One concrete consequence is that Y Combinator funding lets you sell early, if you want to. It can sometimes make sense to sell yourself when you're small for a few million, rather than take more funding and roll the dice again. Google likes to do early-stage acquisitions, and we expect them to become increasingly common as other companies learn what Google has.

If you take a large amount of money from an investor, you usually give up this option. But we realize (having been there) that an early offer from an acquirer can be very tempting for a group of young hackers. So if you want to sell early, that's ok. We'd make more if you went for an IPO, but we're not going to force anyone to do anything they don't want to.

Why are we so flexible? Not (just) because we're nice people. We realize that, as it gets cheaper to start a company, the balance of power is shifting from investors to hackers. We think the way of the future is simply to offer hackers the best possible deal.

Our goal is to be the preferred source of seed funding, and to be that we have to do right by everyone. The good hackers all know one another, so if the groups we fund feel they're getting a bad deal, no one will want funding from us in the future. And later stage investors (especially VCs) also tend to know one another, so if the companies we seed end up being broken in any way, no one will want to invest in them in the future.

So far we seem to be on track, because both the startups we've funded and their next round of investors seem happy with us.



For more about startup funding generally, see How to Fund a Startup.

</div>
</div>