<div class="faq_modal">	
<h1>3Strides FAQ and Support</h1>
	<div class="faq_leftnav">
				<h2>FAQ Topics</h2>
				<ul class="faq_nav">
				<li><a href="#">The Basics</a></li>
				<li><a href="#">Hurdle 1</a></li>
				<li><a href="#">Hurdle 2</a></li>
			<ul id="faq_menu" style="display: none;">
				<li>Presentation</li>
				<li>Funding</li>
			</ul>
		</li>
		<li>
			<a href="#">Hurdle 3</a>
			<ul id="faq_menu" style="display: none;">
				<li>Item 1</li>
				</ul>
		</li>
		<li>
			<a href="#">Requests</a>
			<ul id="faq_menu" style="display: none;">
				<li>Item 1</li>
				</ul>
		</li>
		<li>
			<a href="#">Participants</a>
			<ul id="faq_menu" style="display: none;">
				<li>Item 1</li>
				</ul>
		</li>
		<li>
			<a href="#">Settings</a>
			<ul id="faq_menu" style="display: none;">
				<li>Item 1</li>
				</ul>
		</li>
		<li>
			<a href="#">Resources</a>
			<ul id="faq_menu" style="display: none;">
				<li>Item 1</li>
				</ul>
		</li>
	
				</ul>
			</div>
			</div>
	</div>
</div>