<div class="content-container">
	<div class="content-section"> 
	<a href="home">[return to 3strides home]</a>
		<div id="slidedeck_frame">
			<dl class="slidedeck">
				<dt>Slide 1</dt>
				<dd>Slide Content</dd>
				<dt>Slide 2</dt>

				<dd>Slide content</dd>
				<dt>Slide 3</dt>
				<dd>Slide content</dd>
				<dt>Slide 4</dt>
				<dd>Slide content</dd>
				<dt>Slide 5</dt>

				<dd>Slide content</dd>
			</dl>
		</div>
		<script type="text/javascript">
			$('.slidedeck').slidedeck();
		</script>
	    <!-- Help support SlideDeck! Place this noscript tag on your page when you deploy a SlideDeck to provide a link back! -->
		<noscript>
		    <p>Powered By <a href="http://www.slidedeck.com" title="Visit SlideDeck.com">SlideDeck</a></p>
        </noscript>
		<div class="content-section"> 

	
<ul class="company-boxes"> 

			<li>
					<a href="/home_forentrep">	
					<h2>How 3Strides Works for Entreprenuers</h2>

					<p>Technology-enabled, collaborative, efficient start-ups.</p>
				</a>
			</li>

			<li class="last">
					<h2>How 3Strides Works for Investors</h2>
					<p>Easy, managed, access to early stage companies</p>

				</a>	
			</li>

	</ul>
	<br class="clear" />
<div class="projects-box">
	
	<div class="cornertopleft"></div>
	<div class="cornertopright"></div>


	<h2>Our Latest Start-Up Projects - Get Involved!</h2>
<ul class="projects-homegal">

<li><span><H3>SAAS</H3>Our Comments on this Highlighted Project Go Here</span><img src="images/project_gallery_view_h1.png" alt="project1"></img></li>
	
<li><span><H3>Greentech</H3>Our Comments on this Highlighted Project Go Here</span><img src="images/project_gallery_view_h2.png" alt="project1"></img></li>

<li><span><H3>SETI</H3>Our Comments on this Highlighted Project Go Here</span><img src="images/project_gallery_view_h2.png" alt="project1"></img></li>

<li><span><H3>Waste</H3>Our Comments on this Highlighted Project Go Here</span><img src="images/project_gallery_view_h1.png" alt="project1"></img></li>

</ul>


	<div class="cornerbtmleft"></div>
	<div class="cornerbtmright"></div>
</div>	
<br class="clear"/>


</div>
</div>
</div>