<div class="content-container">
    <div class="page-title">
        <div class="placeholder">
            <div style="width:970px;margin:0 auto; position:relative;">
                <img src="/3strides/images/home_title.png" alt="Start Up...   Better" />
                <div class="home_subtitle">
                    <h2>3Strides is a micro-VC that has developed a new approach and platform to fund and foster start-up companies. 
                        Our goal: a more efficient and merit-driven solution for entrepreneurs and great ideas.</h2>
                </div>
                <div class="home_learn_more">
                    <a href="/learn_more"><img src="/3strides/images/learn_more.png" alt="Learn More" /></a>
                </div>
            </div>
        </div>
    </div>
    <div class="content-section">
        <ul class="company-boxes">
            <li>
                <a href="/home_forentrep"><h2>How 3Strides Works for Entreprenuers</h2>
                    <p>
                        Technology-enabled, collaborative, efficient start-ups.
                    </p>
                </a>
            </li>
            <li class="last">
                <a href="/home_forinvestors"><h2>How 3Strides Works for Investors</h2>
                    <p>
                        Easy, managed, access to early stage companies
                    </p>
                </a>
            </li>
        </ul>
        <br class="clear" />
        <div class="projects-box">
            <div class="cornertopleft">
            </div>
            <div class="cornertopright">
            </div>
            <h2>Our Latest Start-Up Projects - Get Involved!</h2>
            <ul class="projects-homegal">
                <li>
                    <span><H3>SAAS</H3>Our Comments on this Highlighted Project Go Here</span>
                    <img src="/3strides/images/project_gallery_view_h1.png" alt="project1">
                    </img>
                </li>
                <li>
                    <span><H3>Greentech</H3>Our Comments on this Highlighted Project Go Here</span>
                    <img src="/3strides/images/project_gallery_view_h2.png" alt="project1">
                    </img>
                </li>
                <li>
                    <span><H3>SETI</H3>Our Comments on this Highlighted Project Go Here</span>
                    <img src="/3strides/images/project_gallery_view_h2.png" alt="project1">
                    </img>
                </li>
                <li>
                    <span><H3>Waste</H3>Our Comments on this Highlighted Project Go Here</span>
                    <img src="/3strides/images/project_gallery_view_h1.png" alt="project1">
                    </img>
                </li>
            </ul>
            <div class="cornerbtmleft">
            </div>
            <div class="cornerbtmright">
            </div>
        </div>
        <br class="clear"/>
    </div>
</div>
