<div class="learnmore-container">
	<div class="content-section"> 
	<a href="home">[return to 3strides home]</a>
	<h1>More About 3Strides</h1>
		<div id="slidedeck_frame">
			<dl class="slidedeck">
				<dt>The  Basics</dt>
				<dd>3Strides is a new concept in venture captial for the earliest of start-ups.  We are a micro-vc company that has redefined the business model around seeding early stage companies.  We use
			     a proprietary approach and technology to eliminate the inherent biases and inefficiencies associated with allocating capital to start-ups while simultaneously enhancing the quality control, investment selectivity and support for start-ups associated with traditional seed financing models.<p/>
				<h4><a href="home_forentrep">For Entrepreneurs</a></h4>Our approach results in a less arbitrary shot at getting your idea the initial capital and support it needs to succeed.  Entrepreneurs that succeed on our platform spend less time chasing money - and get more and better help developing and building companies than they would pursuing traditional angel, VC and micro-VC funding. 
				</p><h4>For Investors</h4>Our approach provides the opportunity to invest in quality start-up companies at an early stage without the overhead of angel investing or the high cost and poor performance [add link] of investing in venture funds.</dd>
				<dt>Why Reinvent Venture Capital?</dt>
				<dd><a href="http://blog.3strides.com/new-seed-and-start-up-funding-model/">Quite simply, the existing venture capital model has broken - at least for seeding new ideas.</a>  The current VC model grew up as one that is exceptionally limited by scale issues tied to a high-touch, bespoke, and time consuming investment process. Properly done, it is a process that requires the same amount of high-cost labor regardless of investment size - so economies of scale drive managers of VC funds toward larger bets to manage that cost.  This, in many cases, is not the best thing for entrepreneurs.
				<p/>Terms like <a href="http://www.angelblog.net/VC_Mandatory_Moonshot_The_Unwritten_Terms.html">"unintentional moonshot"</a> and <a href="http://www.angelblog.net/Venture_Capital_Firms_Are_Too_Big.html">"venture math"</a> highlight the disconnect between the needs of start-ups in today's environment - where costs have dropped significantly - and the way that VC funds have been structured to operate.
				The inability to scale the <i>number of investments</i> opposed to <i>size of investments</i> as VC funds have grown in size is at the core of the dissonance between the needs of entrepreneurs and the VCs that control the allocation investors' capital to those entreprenuers.  The result is that neither entrepreneurs or investors are being well served by the current venture capital funding model.</dd>
				<dt>3Strides: Technology-Enabled Investing</dt>
				<dd>3Strides has developed a patented approach to start-up investing that combines the use of technology, technology-enabled activities such as those found in social media and social gaming companies, with traditional investment management principles and approaches, to create a high-quality, scalable and innovative process to screen, develop, and fund start-up companies.<p/>Our utilization of technology in this pursuit is organized around several core concepts:
				<li><b>Trust-Based Community:  </b>The core of 3Strides is a community of players in the start-up market - founders, employees, mentors, investors - that interact in the pursuit of developing ideas into companies.  Each participant develops a "trust score" based on their actions in the community.  The more helpful a participant is to a project or the community at large, the higher their trust score and stature in the community.</li>
				<li><b>The Power of Group:  </b>Throughout our process we leverage the power of technology to assemble meaningful groups of particpants to leverage the value created by pooling the resources of multiple personal networks and individual skillsets in the pursuit of solving specific start-up challenges.</li>
				<li><b>Virtual Currency:  </b>Participation in the 3Strides community provides opportunities to leverage one's experience and skills to generate tangible benefit to one's self via virtual currency - 3Strides Credits.  These credits can then be used in various ways within the community to acheive various goals - both individual and as part of a project team. </li>
				<li><b>Expertise Mining:  </b>The 3Strides process effectively leverages the skills and expertise of its community members in ways not possible in traditional off-line investing.  In doing so we are able to effectively scale and deepen the refinement and screening process for ideas to drive quality while removing much of inefficiency, bias, opacity and arbitrary decsionmaking associated with the traditional investment selection process.</li></dd> 
				<dt>Part 1 - The Development Phase</dt>
				<dd><h4>Development: 3 Hurdles</h4>The first phase of our process is the <i>Development Phase</i>.  This phase consists of three "hurdles" that each project must clear to progress to the second <i>Investment Phase</i>.  The goal of the <i>Development Phase</i> is take and idea and develop it into a company that is ready for serious "institutional" investment (VC, Angel or via 3Strides).  
				<li><b>First Hurdle - Feasability: </b>  Collaborate to refine and evaluate the viability of an idea, build the team, find mentorship and establish a "proof of concept" plan to prove out that idea.</li>
				<li><b>Second Hurdle - Fundability:</b>  Attract initial capital from various sources to fund the "proof of concept" plan and establish relationships with potential future investors and champions.</li>
				<li><b>Third Hurdle - Execution:</b>  A 12 week sprint to execute the plan developed during the First Hurdle, make adjustments and prove the idea in preparation for introductions to investors.</li>
				<p/>Each project has a set amount of time to complete a hurdle.  And while projects that fail to clear a hurdle do not move forward in the process - the value that individuals create by participating in that project (trust score and credits) are retained.  <p/>
				The criteria for successfully clearing each hurdle is rooted in both the 3Strides investment philosophy and the wisdom of the community as expressed through that philosophy.  The result is a much more merit-based selection process for ideas than traditional off-line investment models.  Our approach allows peers in the community play a bigger role in qualifying an idea without the losing the quality-control and oversight that is central to effective management of start-ups as investments - and critical to attracting follow-on investment in the future.
					<span style="display:block; float:right; margin-top:5px"><a href="/signup">Sign Up for a Free Account</a></span></dd>
				<dt>Part 2 - Investment Phase</dt>
				<dd>Projects that successfully complete all three hurdles of the development phase are eligible to raise money using our direct investment platform.  Use of this platform is not mandatory, in fact we undertake the same kinds of investor introductions, demonstration days and individual matching - both Angel and VC, that are an important part of "traditional" micro-VC platforms.
			    Where 3Strides differentiates itself when helping projects raise follow-on money is the ability to link relationships built during the development phase with an initial investment round as an additional option for 3Strides projects.  Similar to our development phase, this process utilizes technology in place of certain labor-intensive activities in the traditional fundraising process.  
				There are several advantages in this approach:
				<li><b>Less Time Spent Raising Money:</b> Using the direct-investment platform removes a great deal of the time consuming fundraising work for start-up teams - letting them get back to building their businesses.</li> 
				<li><b>Well Informed Investors with an Established Relationship:</b> Marketing to VCs and Angels is, by design, akin to a shotgun wedding.  This places an inordinate emphasis on pitching to these investors (which has little use outside of the fundraising process) and opens the door to bad matches between investors and start-ups.  
				The 3Strides process lets a team tap a community of potential investors that have tracked a start-up since its earliest days.  The benefits of having these informed investors are many.  Most importantly, these informed investors don't need to be "sold" - they know the story, they can reach an informed investment decision faster, and are in a position to immediately leverage that experience on behalf of the start-up as a champion.</li>
				<li><b>An Effective Alternative to Traditional Investors:</b> Even in cases where the goal is to raise money from Angels or VCs, having the direct-investment platform as a reserve provides much needed leverage for entrepreneurs to motivate these investors to make decisions - removing one of the most frustrating aspects of fundraising for start-ups.</li>
					<span style="display:block; float:right; margin-top:5px"><a href="/signup">Sign Up for a Free Account</a></span></dd>

				<dt>Team</dt>
				<dd><li><b>Mark R. Langner:</b></li>
				<li><b>David Thompson:</b></li></dd>
				</dl>
		</div>
		<script type="text/javascript">
			$('.slidedeck').slidedeck();
		</script>
	    <!-- Help support SlideDeck! Place this noscript tag on your page when you deploy a SlideDeck to provide a link back! -->
		<noscript>
		    <p>Powered By <a href="http://www.slidedeck.com" title="Visit SlideDeck.com">SlideDeck</a></p>
        </noscript>
		<div class="content-section"> 

	
<ul class="company-boxes"> 

			<li>
					<h2>How 3Strides Works for Entreprenuers</h2>
					<a href="/home_forentrep">
					<p>Technology-enabled, collaborative, efficient start-ups.</p>
				</a>
			</li>

			<li class="last">
					<a href="/home_forinvestors">
					<h2>How 3Strides Works for Investors</h2>
					<p>Easy, managed, access to early stage companies</p>

				</a>	
			</li>

	</ul>
	<br class="clear" />
<div class="projects-box">
	
	<div class="cornertopleft"></div>
	<div class="cornertopright"></div>


	<h2>Start-Up Projects - Get Involved!</h2>
<ul class="projects-homegal">

<li><span><H3>SAAS</H3>Our Comments on this Highlighted Project Go Here</span><img src="images/project_gallery_view_h1.png" alt="project1"></img></li>
	
<li><span><H3>Greentech</H3>Our Comments on this Highlighted Project Go Here</span><img src="images/project_gallery_view_h2.png" alt="project1"></img></li>

<li><span><H3>SETI</H3>Our Comments on this Highlighted Project Go Here</span><img src="images/project_gallery_view_h2.png" alt="project1"></img></li>

<li><span><H3>Waste</H3>Our Comments on this Highlighted Project Go Here</span><img src="images/project_gallery_view_h1.png" alt="project1"></img></li>

</ul>


	<div class="cornerbtmleft"></div>
	<div class="cornerbtmright"></div>
</div>	
<br class="clear"/>


</div>
</div>
</div>