   <%=render (:partial => "headincludes") %>


<body class="blog">

		

<div class="sitecontainer">


   <%=render (:partial => "thinmenu_blog") %>

   <%=render (:partial => "_blog") %>

   <%=render (:partial => "bottomfooter") %>

	

	</div>

	</body>
	
	</html>