

<%=render (:partial => "headincludes") %>


<body class="HomePage">

		

<div class="sitecontainer">

   <%=render (:partial => "topmenu") %>
   
   <%=render (:partial => "entrepreneurcenter") %>

   <%=render (:partial => "bottomfooter") %>

	

	</div>

	</body>
	
	</html>
