


<%=render (:partial => "headincludes") %>


<body class="homepage">

		

<div class="sitecontainer">

   <%=render (:partial => "thinmenu_fail") %>

   <%=render (:partial => "homecenter") %>

   <%=render (:partial => "bottomfooter") %>

	

	</div>

	</body>
	
	</html>