.spacer{height:5px;background:#164967;}


.spacer_white{height:10px;background:#FFF;}


.upcoming_event{padding:0px 10px 53px 10px;margin:0px 0px 0px 0px;width:230px;background:url("/images/news_preview_graident.gif") repeat-x bottom;}


.upcoming_event_all{padding:0px 10px 8px 10px;margin:0px 0px 0px 0px;width:300px;background:url("/images/news_preview_graident.gif") repeat-x bottom;}



.upcoming_date{float:left;clear:left;}.upcoming_header{float:right;clear:right;width:185px;}


.upcoming_header{float:right;clear:right;width:185px;}


.upcoming_header_all{float:right;clear:right;width:255px;}

.upcoming_month{font-size:16px;color:#9d0000;font-weight:bold;}

.upcoming_day{font-size:22px;color:#9d0000;font-weight:bold;}


.news_link a{font-size:14px;color:#5c5c5c;}

.news_link{line-height:14px;font-size:14px;color:#5c5c5c;}


.newsDate{font-size:12px;font-style:italic;color:#9d0000;}


