

<%=render(:partial => "home/headincludes") %>


   
   <link rel='stylesheet' type='text/css' media='all' href='/stylesheets/researchstyle.css'/>




<body id="myresearch">
		

<div class="sitecontainer">


   <%=render(:partial => "/hub/insidemenu") %>

    <%=render(:partial => "createresearch_center") %>
		

   <%=render(:partial => "hub/insidefooter") %>

	</div>

	</body>
	
	</html>