<div class="myresearch-container">

		


			


			

		  <div id="searchlistview" style="height:auto;min-height:560px;padding-left: 20px">

		  <%= render_cell :library, :list_for_project %>
		  </div>
</div>