<div class="project_setup_form">
	<h2 style="color:#fff">Step #1 of X: Initial Project Update</h2>
		<div class="myproject_createproject_form">
			Breadcrumbs Here....
 			<p><strong style="color:#fff">Project Participation View:</strong> This is the Project Participation View.  This is the primary "workspace" for your project collaboration.  Think of it as the shared "dashboard" for your project.</p>
			<p>The "Project Update" section is where you post your team leader updates. These are internal communications from the team leaders to the project participants.  Only those invited to join the project will see these posts.</p>
			<p>Since there hasn't been any activity on the project, it looks a little barren here - let's enter a welcome post to spruce it up a bit.</p><p>Click on<a href="#" onclick="javascript:showProjEditor();"> "Add an Entry"</a> under the "Latest Project Update" heading and enter a quick welcome post.<p></p> Then hit the <i style="color:#fff">"Save"</i> link to go to the next step.
	


 		
		</div>
	

</div>
<script type = text/javascript>$(".tool_tipped_codename").tooltip({position:"center left", offset: [-2, -80],	effect: "fade",	opacity: 0.7})</script>
<script type = text/javascript>$(".tool_tipped_teaser").tooltip({position:"center left", offset: [-2, -20],	effect: "fade",	opacity: 0.7})</script>
</div>