				<div class="project_participant_rightcol">
					<%=render(:partial => "project_stats") %>
					<div class="project_participant_activity">
						<div class="col_head">Activity Stream</div>
						<div class="activity_stream">Activity Stream Here</div>
						<div class="col_head">Participants</div>
							<%=render(:partial => "participants") %>
					</div>
				</div>
