<div class="project_public-container">	
<div class="project_public_thinmenu_subnav">
<ul id="project_public_subnav">
	<li class="browse"><a href>blah blah</a></li>
	<li class="start"><a href>blah blah</a></li>
	<li class="faq"><a href>blah blah</a></li>
</ul>
</div>
<div class="project_public_main">
	<div class="project_public_main_head">
		<h2>Project Name Here</h2>
		<h3>Team Leader: John Q. Public</h3>
		<ul id="project_public_nav">
			<li class="progress_rpt"><a href>Nav Buttons Here: Project Blog, Participant View (routes to apply/signup), Team View (hidden), My Project (hidden, Patrons (in H2)</a>
			</li>	
			<li class="participant_view"><a href>blah blah</a>
				
			</li>
			<li class="team_view"><a href>blah blah</a></li>
			<li class="apply"><a href>blah blah</a></li>
		</ul>
	</div>
	</div>
<div class="project_public_leftcol">
<div class="project_public_video"><img src="/images/video_placeholder.png" alt="project video"></div>
<div class="project_public_sharebox">Social Networking and embed tools</div>

<div class="project_public_description"><h3>Project Introduction</h3>Project Description Here - Long Form</div>
</div>
<div class="project_public_badgebox">badges and other details here</div>
<div class="project_public_teamleader"><h3>Team Leader</h3>Name and Description of Project Team Leader - Link to Profile</div>
<div class="project_public_activity"><h3>Activity Stream</h3>Activity Stream Here</div>

	


</div>



