<%=render(:partial => "layouts/project_gallery") %>
<%=render(:partial => "layouts/insidemenu") %>
<%=render(:partial => "projectgallerycenter") %>
<%=render(:partial => "layouts/insidefooter") %>
</body>
</html>
