
<%=render(:partial => "home/headincludes") %>


<body id="project_setup">

		

<div style="background-color:#978F75;">
   

   <%=render(:partial => "layouts/insidemenu") %>

    <%=render(:partial => "project_setup_1center") %>

   <%=render(:partial => "layouts/insidefooter") %>

	</div>

	</body>
	
	
	
	</html>