<%=render(:partial => "home/headincludes") %>


<body id="project_participant_team">

		

<div class="sitecontainer">

   

   <%=render(:partial => "hub/insidemenu") %>

	<%=render(:partial => "project_participant_teamcenter") %>

   <%=render(:partial => "hub/insidefooter") %>

	</div>

	</body>
	
	</html>