
<%=render(:partial => "home/headincludes") %>


<body id="project_public_h1">

		

<div id="thinmenu_bg">
   

   <%=render(:partial => "home/thinmenu") %>

	<%=render(:partial => "project_public_h1center") %>

   <%=render(:partial => "home/bottomfooter") %>

	</div>

	</body>
	
	</html>