
<%=render(:partial => "home/headincludes") %>


<body id="project_setup_1">

		

<div style="background-color:#978F75;">
   

   <%=render(:partial => "hub/insidemenu") %>

    <%=render(:partial => "project_setup_2center") %>

   <%=render(:partial => "hub/insidefooter") %>

	</div>

	</body>
	
	
	
	</html>