
<%=render(:partial => "home/headincludes") %>


<body id="homepage" >

		

<div style="background-color:#978F75">
   

   <%=render(:partial => "home/topmenu") %>

	<%=render(:partial => "projectgallerycenter") %>

   <%=render(:partial => "home/bottomfooter") %>

	</div>

	</body>
	
	</html>