<div class="hub_main">	
	<div class="hub_main_head">
		<h2>Hub <%= subtitle %></h2>
		<h3 style="margin-top:3px"><a href="/myaccount"><%= display_name %></a></h3>
		<ul id="hub_nav">
			<li class="main"><a href ="/hubhome">Hub Home</a></li>
			<li class="inbox"><a href="/inbox_list">Inbox</a></li>	
		</ul>
	</div>
</div>