		<div class="inbox_view_container">
			<div class="inbox_search">
			SEARCH	
			</div>
			<div class="inbox_create">
			<%= link_to 'CREATE MESSAGE',new_message_path %>
			</div>
			<div class="inbox_views">
			VIEWS
			</div>
		</div>
