<%= stylesheet_link_tag "tab_box_inbox.css"  %>
<div id="inbox_nav" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
    <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
		<li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active">
        	<a href="/inbox_list"><span>Inbox</span></a>
		</li>
     	<li class="ui-state-default ui-corner-top">
 			<a href="/invite_list"><span>Invites/Apps</span></a>
		</li>	
    </ul>
</div>