<div class="inside-container">	
			<div class="myproject_main">
				<div class="myproject_noproject">
					<h1>Enter your Golden Ticket Code to Initialize Project</h1>
				

				<div class="myproject_noproject_explain">
					<h2>Starting Your Project Explained...</h2>
					<ul class="menu noaccordion" id="menu3">
		<li>
			<a href="#">How Do I Start a Project?</a>
			<ul id="explain1" style="display: none;">
				<li>You must have a valid "Golden Ticket" code to initiate a project on the site.</li>
			</ul>
		</li>
		<li>
			<a href="#">What is a Golden Ticket?</a>
			<ul id="explain2" style="display: none;">
				<li>A Golden Ticket is a code that unlocks the ability to initiate a project on 3Strides.</li>
			</ul>
		</li>
		<li>
			<a href="#">How Do I Get a Golden Ticket?</a>
			<ul id="explain3" style="display: none;">
				<li>There are two ways to get a Golden Ticket.  <br/><br/>1.) Find someone in or around the 3Strides community that has one to give out.  We provide a limited number of tickets to certain trusted individuals both inside and outside of the 3Strides community.  While those individual's identities are not a secret - they aren't advertised either.  And no - we won't tell you who they are - so don't ask.  Those individuals are welcome to distribute those tickets as they see fit. <br/><br/>2.) Earn sufficient 3Strides credits to redeem credits for a Golden Ticket.    </a></li>
			</ul>
		</li>
		<li>
			<a href="#">How Do I Use My Golden Ticket?</a>
			<ul id="explain4" style="display: none;">
				<li>Bah Humbuggity</li>
			</ul>
		</li>
	</ul>
				<a href="/faq" title="Go to the 3Strides FAQ">View the 3Strides FAQ</a>
				</div>
				</div>
			</div>

</div>