<div class="inside-container">	
	<div class="myproject_leftnav_top">
			<div class="myproject_leftnav">
			    <div class="myproject_dashboard"></div>	
				<div class="myproject_leftnav_menufield_top">
					<div class="myproject_leftnav_menufield">
					<ul class="menu noaccordion" id="myproject_menu">
		<li>
			<a href="#">First Hurdle</a>
			<ul id="myproject_menu" style="display: none;">
				<li>Plan</li>
				<li>Team</li>
				<li>Mentor</li>
			</ul>
		</li>
		<li>
			<a href="#">Second Hurdle</a>
			<ul id="myproject_menu2" style="display: none;">
				<li>Presentation</li>
				<li>Funding</li>
			</ul>
		</li>
		<li>
			<a href="#">Third Hurdle</a>
			<ul id="myproject_menu3" style="display: none;">
				<li>Item 1</li>
				</ul>
		</li>
		<li>
			<a href="#">Requests</a>
			<ul id="myproject_menu3" style="display: none;">
				<li>Item 1</li>
				</ul>
		</li>
		<li>
			<a href="#">Participants</a>
			<ul id="myproject_menu3" style="display: none;">
				<li>Item 1</li>
				</ul>
		</li>
		<li>
			<a href="#">Settings</a>
			<ul id="myproject_menu3" style="display: none;">
				<li>Item 1</li>
				</ul>
		</li>
		<li>
			<a href="#">Resources</a>
			<ul id="myproject_menu3" style="display: none;">
				<li>Item 1</li>
				</ul>
		</li>
<li>
			<a class="btm">btm</a>
			<ul id="myproject_leftnav_btm">
			</ul>
		</li>
	
				</ul>
			</div>
			</div></div>
					<div class="myproject_leftnav_btm"></div></div>
			<div class="myproject_main">
				<div class="myproject_glance">
					<h1>[Project Title] at a Glance</h1>
				</div>
				
		</div>

</div>