<%= stylesheet_link_tag "tab_box_inbox.css"  %>
<div id="inbox_nav" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
    <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
		<li class="ui-state-default ui-corner-top">
        	<a href="/hubhome"><span>Opportunities</span></a>
		</li>
		<li class="ui-state-default ui-corner-top">
 			<a href="/hubhome_participation"><span>Participation</span></a>
		</li>	
		<li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active">
 			<a href="/hubhome_watching"><span>Watching</span></a>
		</li>	
    </ul>
</div>