
<%=render(:partial => "home/headincludes") %>


<body id="myproject">

		

<div class="sitecontainer">

   

   <%=render(:partial => "layouts/insidemenu") %>

	<%=render(:partial => "noprojectcenter") %>

   <%=render(:partial => "layouts/insidefooter") %>

	</div>

	</body>
	
	</html>