
<%=render(:partial => "home/headincludes") %>


<body id="myproject">

		

<div class="sitecontainer">

   

   <%=render(:partial => "insidemenu") %>

	<%=render(:partial => "projectadmincenter") %>

   <%=render(:partial => "insidefooter") %>

	</div>

	</body>
	
	</html>