<%=render (:partial => "home/headincludes") %>

<body class="Login">

		



   <%=render (:partial => "home/topmenu") %>

   <%=render (:partial => "logincenter") %>

   <%=render (:partial => "home/bottomfooter") %>



</body>

</html>