<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
 		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  		<meta name="keywords" http-equiv="keywords" content="micro vc, venture capital, vc, micro venture capital, start-up, seed funding, angel, angel investment, angel funding" />
  		<title><%= title %></title>
  	<link rel="SHORTCUT ICON" href="/images/favicon.ico" />

  		<%=render(:partial => "layouts/noproject") %>
	</head>
	<body id="project_admin">
		<p style="color: green"><%= flash[:notice] %></p>
		<%= yield %>
	</body>
</html>